---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
The future belongs to those who see opportunity first.
AmicBridge connects forward-thinking investors with insights into assets that have real potential for exponential growth.
We’re not asking for your investment — we’re giving you the information to make it stronger.`;
---

<Layout title="Welcome to Amicbridge.com. where technology meets creativity. We design, build and connect digital assets across the web.">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Building digital connections with amicbridge</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg sm:min-w-64">Read the Docs</a>
    </p>
</Layout>
